@import "mocha.css";

* {
    font-family: 'JetBrainsMono Nerd Font';
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: @crust;
}

#workspaces button.active {
    color: @text;
}


#workspaces {
    background-color: @crust;
    padding: 0 5.6px 0 0;
}

.modules-left {
    margin-left: 10px;    
}

.modules-right {
    margin-right: 10px;    
}

#battery,
#pulseaudio,
#backlight,

#network {
    color: @yellow; /* color2 */
    background-color: @crust; /* background */
    margin: 0 0px 0 15px;
    padding: 0 15px 0 15px; /* top, right, bottom, left */
}

#clock {
    color: @mauve; /* color3 */
    background-color: @crust; /* background */
    margin: 0 15px 0 0;
    padding: 0 15px 0 15px;
}

#pulseaudio {
    color: @blue; /* color5 */
}

#backlight {
    color: @flamingo; /* color5 */
}
