* {
  background-image: none;
  box-shadow: none;
  font-size: 20px;
  font-family: "JetBrains Mono";
}

window {
  background-color: rgba(30, 30, 46, 0.9);
}

button {
  border-radius: 10;
  text-decoration-color: #cdd6f4;
  color: #cdd6f4;
  background-color: rgba(24, 24, 37, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  margin: 5px;
  padding: 5px;
}

button:focus,
button:active,
button:hover {
  /* 20% Overlay 2, 80% mantle */
  background-color: rgba(48, 50, 66, 0.5);
  outline-style: none;
  background-size: 25%;
}

#lock {
  background-image: url("/home/mateo/.config/wlogout/icons/lock.svg");
}

#logout {
  background-image: url("/home/mateo/.config/wlogout/icons/logout.svg");
}

#suspend {
  background-image: url("/home/mateo/.config/wlogout/icons/suspend.svg");
}

#hibernate {
  background-image: url("/home/mateo/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
  background-image: url("/home/mateo/.config/wlogout/icons/shutdown.svg");
}

#reboot {
  background-image: url("/home/mateo/.config/wlogout/icons/reboot.svg");
}
